# Autotools files generated into srcdir
/INSTALL
Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
/depcomp
/install-sh
/intltool-*.in
/ltmain.sh
/missing
/po/Makefile.in.in
/configure.ac
/m4/

# Autotools files generated into builddir (for in-tree builds)
Makefile
.deps/
/lib/.dirstamp
.libs/
*.lo
*.la
/lib/screenshooter-marshal.[ch]
/lib/stamp-screenshooter-marshal.h
/libtool
/panel-plugin/.dirstamp
*.la
*.lo
/panel-plugin/screenshooter.desktop
/po/.intltool-merge-cache
/po/POTFILES
/po/*.gmo
/po/stamp-it
/src/.dirstamp
*.o
/src/xfce4-screenshooter
/src/xfce4-screenshooter.desktop*
/stamp-h1
src/xfce4-screenshooter.appdata.xml
